

.App {
  max-width: 600px;
  margin: 60px auto;
  padding: 10px;
  background: #d8e4ff;
  border-radius: 25px;
}

.App a{
  color: #35605a;
}

.App footer {
  font-size: 11px;
  margin: 10px;
  text-align: center;
}

small {
color: rgba(13, 13, 13, 0.459);
}