.Weather {
    border: 1px solid #dadde1;
    font-family: Arial, sans-serif;
}

.Weather h1 {
    color:#878787;
    color:rgb(135, 135,135);
    display: block;
    font-size: 24px;
    font-weight: 100;
    height: 28px;
    line-height: 29px;
}